<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main_layout.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script type="text/javascript">
        function addPrimaryPhysician() {
            $.ajaxSettings.traditional = true;
            $.ajax({
                async: true,
                type: 'POST',
                url: "./addPrimaryPhysician",
                dataType: "json",
                data: {
                    node_kn: $('#node_kn').text(),
                    primaryPhysician_id: $('#primaryPhysician').val()
                },
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function (data) {
                    if (data.result == "true") {
                        alert("You have successfully update.");
                        location.reload();
                        return false;
                    } else if(data.result == "false"){
                        alert("You don't have authority");
                        $(location).attr("href", "./loginPage");
                        return false;
                    } else {
                        alert("Update failed\nPlease try again.\n" + "error : " + data.result);
                        return false;
                    }
                },
                error: function (error) {
                    alert("error : " + error);
                    return false;
                }
            })
        }
    </script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<input type="checkbox" name="mobile-nav" id="mobile-nav" class="burger-check" onchange="this.blur()">
<label for="mobile-nav" class="burger white" tabindex="0"><span></span></label>
<nav role="navigation" class="header-nav">
    <div class="fixed-nav">
        <div class="menu">
            <ul>
                <th:block th:if="${member.managenode} == 1">
                    <li class="page_item page-item-2">
                        <a href="./manageNodePage" class="waves-effect">
                            Manage Member
                        </a>
                    </li>
                </th:block>
                <th:block th:if="${member.h_datarecord} == 1">
                    <li class="page_item page-item-2">
                        <a href="./healthRecordPage" class="waves-effect">
                            Health Data Record
                        </a>
                    </li>
                </th:block>
                <th:block th:if="${member.h_dataview} == 1">
                    <li class="page_item page-item-2">
                        <a href="./healthViewPage" class="waves-effect">
                            Health Data View
                        </a>
                    </li>
                </th:block>
                <th:block th:if="${member.patientMapping} == 1">
                    <li class="page_item page-item-2">
                        <a href="./patientMappingPage" class="waves-effect">
                            Manage Patient
                        </a>
                    </li>
                </th:block>
                <th:block th:if="${member.h_search} == 1">
                    <li class="page_item page-item-2">
                        <a href="./healthSearchPage" class="waves-effect">
                            Health Data Search
                        </a>
                    </li>
                </th:block>
                <th:block th:if="${member.a_payment} == 1">
                    <li class="page_item page-item-2">
                        <a href="./assetPaymentPage" class="waves-effect">
                            Payment
                        </a>
                    </li>
                </th:block>
                <th:block th:if="${member.a_withdraw} == 1">
                    <li class="page_item page-item-2">
                        <a href="./assetWithdrawPage" class="waves-effect">
                            Withdraw
                        </a>
                    </li>
                </th:block>
                <th:block th:if="${member.a_history} == 1">
                    <li class="page_item page-item-2">
                        <a href="./assetHistoryPage" class="waves-effect">
                            Asset History
                        </a>
                    </li>
                </th:block>
            </ul>
        </div>
        <div class="user_info">
            <div class="user_info_item2">
                <h4 th:text="'Node Name : ' + ${node_kn}"></h4>
                <h4 th:text="'User Name : ' +${member.user_name}"></h4>
            </div>
            <button type="button" class="user_info_item btn btn-primary" onclick="location.href='./logout'">Edit User
                Info
            </button>
            <button type="button" class="user_info_item btn btn-primary" onclick="location.href='./logout'">Log Out
            </button>
        </div>
    </div>
</nav>
<div class="container" th:switch="${nodeMapping}">
    <div th:case=null>
        <h1>Node Mapping Detail Page</h1>
        <h1>There are no data</h1>
    </div>
    <div th:case="*" class="container" style="text-align: center">
        <h2 style="margin-top: 90px; margin-bottom: 30px; text-align: center">Manage Member Detail Page</h2>
        <div class="container" style="width: fit-content; text-align: left">
            <fieldset>
                <div class="control-group">
                    <p style="float: left">Node KN : </p>
                    <p id="node_kn" name="node_kn" placeholder="" th:text="${nodeMapping.node_kn}"></p>
                </div>
                <div class="control-group">
                    <p id="patient_no" name="patient_no" placeholder="" th:text="'Patient NO. : '+${nodeMapping.patient_no}"></p>
                </div>
                <div class="control-group">
                    <p id="acceptor" name="acceptor" placeholder="" th:text="'Acceptor : '+${nodeMapping.acceptor}"></p>
                </div>
                <div class="control-group">
                    <p id="description" name="description" placeholder="" th:text="'Description : '+${nodeMapping.description}"></p>
                </div>
                <div class="control-group">
                    <p id="reg_date" name="reg_date" placeholder="" th:text="'Reg Date : '+${nodeMapping.reg_date}"></p>
                </div>
                <div class="container" th:switch="${primaryPhysicians}">
                    <div th:case=null>
                        <h1>No Have Primary Physicians</h1>
                    </div>
                    <div th:case="*" class="container" style="text-align: center">
                        <h2 style="margin-top: 90px; margin-bottom: 30px; text-align: center">Patient Mapping Page</h2>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td scope="col">Primary Physician</td>
                                <td scope="col">Acceptor</td>
                                <td scope="col">Reg. Date</td>
                                <td scope="col">Accepted</td>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="primaryPhysician : ${primaryPhysicians}">
                                <tr style="cursor: pointer">
                                    <td th:text="${primaryPhysician.pk.primaryPhysician}"></td>
                                    <td th:text="${primaryPhysician.acceptor}"></td>
                                    <td th:text="${primaryPhysician.reg_date}"></td>
                                    <td th:if="${primaryPhysician.accepted} != null" th:text="${primaryPhysician.accepted}">true</td>
                                    <td th:unless="${primaryPhysician.accepted} != null">false</td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="control-group" style="margin-bottom: 3px; vertical-align: middle">
                    <p>Primary Physician ID : </p>
                    <div class="controls" style="float: left; padding-top: 3px">
                        <input type="text" id="primaryPhysician" name="primaryPhysician" placeholder="" class="input-xlarge">
                    </div>
                    <button type="button" id="add_bt" name="add_bt" class="btn btn-primary" onclick="addPrimaryPhysician()">ADD PrimaryPhysician</button>
                </div>

                <div class="control-group" style="margin-top: 10px">
                    <!-- Button -->
                    <div class="controls" style="text-align: center">
                        <button class="btn btn-success" id="confirm_bt" name="confirm_bt" onclick="location.href='./patientMappingPage'">Go List</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
</html>
